* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainLightGray: #d6d8db;
  --mainGray: #bbbcbe;
  --mainDarkGray: #6c757d;
  --mainDarkGreen: #209e91;
  --mainRed: #d50000;
  --mainGreen: #4caf50;
  --mainSlowTransition: all 0.5s ease;
  --mainLetterSpacing: 4px;
}
body {
  background-color: var(--mainLightGray) !important;
}
/* ##### globall ##### */
.section {
  width: calc(100vw - 197px);
  position: absolute;
  top: 68.8px;
  left: 180px;
}
.text-center {
  text-align: center;
}
a,
input[type],
button[type],
select,
textarea,
select,
option {
  outline: none;
  box-shadow: none !important;
  border: none;
}
.spacing {
  letter-spacing: var(--mainLetterSpacing);
}
a:hover {
  text-decoration: none;
}
/* ##### end of globall ##### */
/* ##### sidebar ##### */
.sidebar {
  width: 180px;
  height: 100vh;
  padding-top: 4.5rem;
  position: fixed;
}
.sidebar nav {
  padding: 0;
  width: 100%;
}
.sidebar li {
  padding-left: 15px;
  font-size: 18px;
  width: 180px !important;
  transition: var(--mainSlowTransition);
}
.sidebar li a {
  transition: var(--mainSlowTransition);
}
.sidebar li:hover {
  background-color: var(--mainLightGray);
}
.sidebar li:hover a {
  color: var(--mainBlack) !important;
}
.sidebar span {
  margin-left: 15px;
}
/* ##### end of sidebar ##### */
/* ##### books ##### */
.books table {
  width: 95%;
  margin: 2rem auto 0 auto;
}
.books tr {
  background-color: var(--mainWhite);
  border-bottom: 2px solid var(--mainDarkGray);
  transition: var(--mainSlowTransition);
  cursor: pointer;
}

.books tr:hover {
  background-color: var(--mainLightGray);
}
@media screen and (min-width: 992px) {
  .books table {
    width: 85%;
  }
}
.loading {
  padding-top: 6rem;
  text-align: center;
  font-size: 3rem;
  letter-spacing: var(--mainLetterSpacing);
}
/* ##### end of books ##### */
/* ##### error ##### */
.error-page {
  padding-top: 8rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainLetterSpacing);
}
.error-page a {
  margin-top: 2rem;
}
/* ##### end of error ##### */
/* ##### loading ##### */
.loading {
  background-color: var(--mainGray);
  height: 100vh;
  width: 100vw;
}
.loading .loading-logo {
  position: absolute;
  left: calc(50% + 90px);
  transform: translateX(-50%);
}
/* ##### end of loading ##### */
/* ##### author ##### */

.radio-button {
  background-color: var(--mainWhite);
  padding: 8px 10px;
  border-radius: 5px;
}
/* ##### end of add author ##### */
